<?xml version="1.0" encoding="utf-8"?>
<InjectorSettings xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <Modules>
    <InjectorModule>
      <Enable>true</Enable>
      <Path>I:\Henry\Projekte\Tera\Opcode DLL\OpcodeDLL_3009.dll</Path>
    </InjectorModule>
  </Modules>
  <Options>
    <Advanced>
      <DisableExceptionSupport>false</DisableExceptionSupport>
      <DisableSEHValidation>false</DisableSEHValidation>
      <HideFromDebugger>false</HideFromDebugger>
      <ManualResolveImports>false</ManualResolveImports>
    </Advanced>
    <AutoInject>false</AutoInject>
    <Background1>DodgerBlue</Background1>
    <Background2>DeepSkyBlue</Background2>
    <CloseOnInject>false</CloseOnInject>
    <Delay>0</Delay>
    <DelayBetween>0</DelayBetween>
    <ErasePE>false</ErasePE>
    <HideModule>false</HideModule>
    <Method>0</Method>
    <Scramble>
      <CreateFakeDebugDirectory>false</CreateFakeDebugDirectory>
      <CreateNewEntryPoint>false</CreateNewEntryPoint>
      <InsertExtraSections>false</InsertExtraSections>
      <ModifyAssemblyCode>false</ModifyAssemblyCode>
      <ModifyImportTable>false</ModifyImportTable>
      <MoveRelocationTable>false</MoveRelocationTable>
      <RemoveDebugData>false</RemoveDebugData>
      <RemoveUselessData>false</RemoveUselessData>
      <RenameSections>false</RenameSections>
      <ScrambleHeaderFields>false</ScrambleHeaderFields>
      <ShiftSectionData>false</ShiftSectionData>
      <ShiftSectionMemory>false</ShiftSectionMemory>
      <StripSectionCharacteristics>false</StripSectionCharacteristics>
    </Scramble>
    <StealthInject>false</StealthInject>
    <TextColor>White</TextColor>
  </Options>
  <ProcessName>TERA.exe</ProcessName>
  <Warnings>
    <LdrpLoadDll>false</LdrpLoadDll>
    <ManualMap>false</ManualMap>
    <Scramble>false</Scramble>
  </Warnings>
</InjectorSettings>